
body {
    background-color: whitesmoke; 
    margin:0;
    padding:0;
}


:root {
    --red: #BB1846;
    --smoke: #414042;
    --white: whitesmoke;
  }


header{
    background-color: rgba(19, 19, 19, 0.89); 
    padding-top: 0px;
    margin-top: 0px;
}

.index-img{
    width: 150px;
    height:150px;
}

.wrap{ /* gia thn estiash ths selidas h oloklhrwn div sto kentro */
    max-width: 1000px;
    margin: auto;
}




 

li > a:link,a:link {  
    color: var(--red);
}

li > a:visited,a:visited{
    color: purple;
}

 li > a:hover,a:hover {
    color: blue;
}

li > a:active,a:active {
    color: var(--white);
  }
  








.logo { /* klash gia to logo ths selidas panw aristera*/
    width: 210px;
    height: 100px;
    padding-top:4px;
    padding-left:10px;
    float:left; /* stoixish aristera */
    position:absolute;
}

.main-nav{ /* klash gia to main navigation menu*/
    padding: 40px;
    text-align: right;
    margin-left: auto;
    border-radius: 5px;
    font-family: 'Segoe UI';
    font-size: 120%
}

.main-nav a{ 
    padding:20px; /* skopos: spacing twn menu items*/
}

.main-nav a:hover{ /* vazw ena gri background otan kanw hover ta menu items*/
    background-color:grey;
    border-radius: 20px;
    transition: .2s ease-out;
}

.main-form label { /* text configuration gia th forma*/
    font-family: 'Segoe UI';
    font-size: 130%;
    color: var(--white);
}

.main-intro { /* klash gia to prwto meros kathe selidas kai to merge enos background color kai enos bacground image */
    padding: 30px;
    background-color:var(--red);  /*color */
    background-image: url(images/crowd.jpg); /* background image */
    background-size:cover;  /*sizarw thn eikona na kanei cover to element mou*/                     
    background-repeat:no-repeat; /*de thelw na epanalamvanetai*/
    background-position:center center;
    background-blend-mode:luminosity; /* mode gia to merge */
    height: 400px; 
    user-select:none /* kanei disable thn epilogh text */
}

.main-intro p{ /*font configuration gia to main intro */
    margin:auto;
    padding:80px;
    font-family: 'Segoe UI';
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    color:var(--white);
    text-shadow: 1px 1px 1px black;
}

.main-intro.cpp {
    background-image: url(images/cpp-main.png);
    background-blend-mode:screen;
}

.main-intro.chinese {
    background-image: url(images/main-chinese.jpg);
    background-blend-mode:screen;
}

.main-intro.arts {
    background-image: url(images/main-arts.png);
    background-blend-mode:screen;
}

.main-intro.index{ /*  gia allagh eikonas kai blend mode se diaforetikes selides */
    background-image: url(images/index-main-3.jpg);
    background-blend-mode:screen;
}

.main-intro.courses{ /*  gia allagh eikonas kai blend mode se diaforetikes selides */
    background-image: url(images/courses-main-2.jpg);
    background-blend-mode:screen;
}

.main-intro.about{ /*  gia allagh eikonas kai blend mode se diaforetikes selides */
    background-image: url(images/students2.jpg);
    background-blend-mode:screen;
}

.main-intro.about p{  /*  gia allagh font kai color se diaforetikes selides */
    padding:50px;
    color:rgba(19, 19, 19, 0.924);
    text-shadow: 1px 1px 1px white;
}

.secondary{ /* klash gia mia gri bara katw apo to main-intro */
    background-color: rgba(19, 19, 19, 0.89);
    height:50px;
}

.main-form { 
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--smoke);
    padding: 15px;
    margin-bottom:15px;
}

button[type=submit] , button[type="text"]{ /* customization kapown buttons */
    background-color: var(--red);
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover , button[type="text"]:hover { /* customization tou button ths formas sto hover */
    background-color: #FFFFAA;
    color: black;
}

input[type=text], textarea  { 
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; /*  */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* dinoume thn epilogh mono vertically */
}

.about-text {  /* text kentrika */
    text-align: center;
}

.text-head-white { /* main headings tou about */
    font-weight:bold;
    font-size: xX-large;
    color:var(--white);
    font-family: fantasy;
    text-shadow: 1px 1px 1px black 
}

.text-head { /* main headings tou about */
    font-weight:bold;
    font-size: xX-large;
    color:var(--red);
    font-family: fantasy; 
    text-shadow: -1px 1px 0px black;
}

.text-sub { /* aplo text tou about */
    color:rgba(19, 19, 19, 0.924);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}

.text-names { /* member text tou about */
    color:var(--smoke);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-decoration:underline;
    font-size: x-large;
}

.our-team img{ /* image customization gia ta members */
    width: 300px;
    height: 300px;
    padding:20px;
    margin: 20px;
    border-radius: 200px;
}

.our-team > .members-align:nth-child(2n-1) > img{ /* stoixizw aristera kathe allo paidi ksekinontas apo to 2o */
    float:left;
}

.our-team > .members-align:nth-child(2n) > img { /* stoixizw deksia kathe allo paidi ksekinontas apo to 1o  */
    float:right;
}

.our-team p{ /* for spacing purposes */
    padding:40px;
}

.members-align { /* for spacing purposes */
    width:100%;
    height: 500px;
}

footer { /* for spacing purposes */
    background-color:rgba(19, 19, 19, 0.924);
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left:20px;
    padding-right:20px;
    margin-top:20px;
}

footer a,p,li { 
    color:white;
    font-size: 110%;
}


.copyright{
    float: right;
}






/*sets a background color and border in index page for the top courses section*/
.top-courses{
    background-color:var(--red);
    border: 5px solid var(--smoke);    
    
}

/*sets us a display for top courses list in index page for the top courses section*/
.top-courses-list{
    display: flex;
    justify-content: space-evenly;   /*distributes the space between items evenly*/
}

/**/
.top-courses-text{
  color:var(--white);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:large;
}

/*used in index page to include text and image in the same container*/
.container {
    position: relative; /*keeps the layout unchanged*/
    
  }


/*class for ol list*/
  .custom-list {
    counter-reset: li;  /*creates a counter for each li element*/
    list-style: none;  /*list has no style*/
    padding: 0;        /*list has default padding*/
    /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/  
  }


  /*class for a elements of unordered list*/
  .custom-list a {
    position: relative;
    display: block; /*Displays an element as a block element */
    padding: .4em .4em .4em 2em; /*creating space around an element*/
    margin: auto; /*space around element is calculated by browser*/
    background: var(--white);
    width: 25%; /*width of an element*/
    color: var(--smoke); /*color of an element*/    
    text-decoration: none; /*no decoration for text*/
    transition: .3s ease-out; /*specifies a transition effect with a slow end*/
    border-radius: .3em; /*adds rounded corners to border*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size:  large;
    margin-top:1em; /*adds top margin*/
  }

  .custom-list p {
    position: relative;
    display: block; /*Displays an element as a block element */
    padding: .4em .4em .4em 2em; /*creating space around an element*/
    margin: auto; /*space around element is calculated by browser*/
    background: var(--white);
    width: 90%; /*width of an element*/
    color: var(--smoke); /*color of an element*/    
    text-decoration: none; /*no decoration for text*/
    transition: .3s ease-out; /*specifies a transition effect with a slow end*/
    border-radius: .3em; /*adds rounded corners to border*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size:  large;
    margin-top:1em; /*adds top margin*/
  }


/*this class is used to add the number to the ol list*/
.custom-list a::before, .custom-list p::before{
    content: counter(li); /*returns a counter before the main element*/
    counter-increment: li; /*increases the counter*/
    position: absolute; /*position  relative to its first positioned element*/
    left: -1em; /*-0.5 em to the left*/
    top: 55%; /*add top space*/
    margin-top: -1.3em; /*leave space around elements*/
    background: #f9dd94; /*background color for the counter*/
    height: 2em; /*adds height to counter*/
    width: 2em; /*adds width to counter*/
    line-height: 2em; /*specifies the height of a line.*/
    border: .2em solid var(--red); /*border for counter circle*/
    text-align: center; 
    font-weight: bold;
    border-radius: 2em; /*transforms the border into a circle*/
    
  }
  
  .custom-list a:hover { background: #E9E4E0; } /*adds hover color*/
  
  /*adds color, font family, and margin for header in list*/
  .custom-list h3{
      color: var(--smoke);
      font-family: fantasy; 
      margin: 100px 0 50px 0;
      text-shadow: 0.5px 2px black;
     
  }
/*adds border color, width, and height for img in list*/
.custom-list img{
    border: 5px solid var(--smoke); 
    width: 550px;
    height: auto;
  }

.course a:link{
    color:var(--red);
}

.course a[href^="http"]::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f35d";
    font-weight:900;
    font-size:.8em;
    padding-left:2px;
}

.course-img{
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--smoke);
    margin-top: 150px;
}

